@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary colors */
    --dark-cyan: hsl(185, 75%, 39%); 
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);  
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral color */
    --dark-gray: hsl(0, 0%, 59%); 
}

/* Global parameters */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--dark-cyan);
}

/* Container */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Background images */

.bg-img {
    position: absolute;
    z-index: -1;
}

.bg-img--top {
    top: 0;
    left: 0;
    transform: translate(-25%,-55%);
}

.bg-img--bottom {
    right: 0;
    bottom: 0;
    transform: translate(23%, 65%);
}

/* Card */

.card {
    background: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
    margin: 25px
}

.card__bg {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.card__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.card__image {
    width: 110px;
    height: 110px;
    margin-top: -60px;
}

.card__profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    background: #fff;
}

.card__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0 8px;
}

.card__name {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
    margin-right: 10px;
}

.card__age {
    color: var(--dark-grayish-blue);
}

.card__country {
    font-size: 16px;
    color: var(--dark-grayish-blue);
    padding-bottom: 22px;
}

.card_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 0;
}

.card__stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.card__record {
    font-size: 18px;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.card__stat-caption {
    font-size: 10px;
    color: var(--dark-grayish-blue);
    letter-spacing: 1.5px;
    padding-top: 6px;
}

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsive design */

@media screen and (max-width: 1366px) {
    /* Background images */
    .bg-img--top {
        transform: translate(-35%,-55%);
    }

    .bg-img--bottom {
        transform: translate(29%, 70%);
    }
}

@media screen and (max-width: 990px) {
    /* Background images */
    .bg-img--top {
        transform: translate(-55%,-50%);
    }

    .bg-img--bottom {
        transform: translate(47%, 65%);
    }
}

@media screen and (max-width: 767px) {
    /* Background images */
    .bg-img--top {
        transform: translate(-60%,-55%);
    }

    .bg-img--bottom {
        transform: translate(58%, 65%);
    }
}

@media screen and (max-width: 500px) {
    /* Background images */
    .bg-img--top {
        transform: translate(-75%,-55%);
    }

    .bg-img--bottom {
        transform: translate(63%, 65%);
    }
}

@media screen and (max-width: 375px) {
    /* Background images */
    .bg-img--top {
        transform: translate(-75%,-62%);
    }

    .bg-img--bottom {
        width: 700px;
        height: auto;
        transform: translate(68%, 50%);
    }
}